body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

/* SIDE BAR */

.sidebar {
    height: 100vh;
    width: 180px;
    top: 0;
    bottom: 0;
    position: fixed;
    padding: 25px 65px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.sidebar img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.sidebar-navbottom img {
    width: 50px;
    height: 50px;
}

.sidebar a:hover {
    opacity: 0.6;
}

.sidebar-navbottom a:hover {
    opacity: 0.6;
}

/* MAIN CONTENT */

main {
    margin-left: 180px;
    padding: 25px 100px 50px 100px;
    box-sizing: border-box;
}

/* CALENDAR AND SCHEDULE AGAIN */

.row{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    gap: 50px;
}

.calendar-container {
    flex: 40%;
    height: 400px;
}

.schedule-again-container {
    flex: 60%;
    height: 400px;
}

.calendar-container, .schedule-again-container {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 15px 45px;
    box-sizing: border-box; 
}

/* CALENDAR */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 25px;
}

.calendar-icons img {
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px;;
    line-height: 38px;
    border-radius: 50%;
    background-color: white;
}

.calendar-icons img:hover {
    background-color: #efefef;
}

.calendar-icons img:last-child {
    margin-right: -5px;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calendar-body ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar-body ul li {
    width: calc(100%/7);
    position: relative;
}

.days-of-the-week {
    font-weight: bold;
    margin-bottom: 0;
}

.dates {
    margin-top: 0;
}

.dates li {
    margin-top: 28px;
    cursor: pointer;
    z-index: 1;
}

.dates li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.dates li:hover::before {
    background-color: #efefef;
    z-index: -1;
}

.inactive {
    color: #aaa;
}

.active {
    color: white;
}

.active::before {
    background-color: #00C2C2;
}

/* SCHEDULE AGAIN */

.schedule-again-container h2 {
    padding-left: 15px;
}

.schedule-again-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.schedule-again-icons a {
    margin: 10px;
}

.schedule-again-icons img {
    height: 120px;
    width: 120px;
}

.schedule-again-icons img:hover {
    opacity: 70%;
}

/* APPOINTMENTS */

.appointments-container {
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.toggler-container {
    height: 100%;
    width: 200px;
    padding: 5px;
    background-color: #e2e2e2;
    border-radius: 12px;
    display: flex;
    gap: 5px;
}

.upcoming-apptmt-button, .past-apptmt-button {
    height: 45px;
    width: 100px;
    padding: 0 5px;
    background-color: #e2e2e2;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    border: 0px solid #ffffff;
    cursor: pointer;
}

.upcoming-apptmt-button {
    background-color: white;
}

.upcoming-apptmt-button:hover, .past-apptmt-button:hover {
    background-color: #f8f8f8;
}

.upcoming-apptmt-button:active, .past-apptmt-button:active {
    background-color: white;
}

.apptmt-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 40px;
}

.appointment-buttons-container {
    display: flex;
    gap: 15px;
}

.edit-apptmt-button {
    height: 45px;
    width: 100px;
    padding: 0 5px;
    background-color: #a2a2a2;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 0px solid #ffffff;
    cursor: pointer;
}

.add-apptmt-button {
    height: 45px;
    width: 150px;
    padding: 0 5px;
    background-color: #00C2C2;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 0px solid #ffffff;
    cursor: pointer;
}

.appointment-list {
    margin: 20px;
}

.apptmt-schedule, .apptmt-type, .apptmt-doctor, .apptmt-dept {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
}

.appointment-card {
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 30%;
    padding: 10px
}

.appointment-card h3 {
    color: black;
    font-size: 20px;
}

.appointment-card h4 {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: light;
}

.appointment-card p {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.delete-apptmt-button {
    width: 80px;
    background-color: #ff0000;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 0px solid #ffffff;
    cursor: pointer;
}